from server.utils import load_config
from server.base import BaseApp

if __name__ == '__main__':
    import argparse
    parser = argparse.ArgumentParser(description="Launch the Server.",
                                     formatter_class=argparse.ArgumentDefaultsHelpFormatter)
    parser.add_argument("--port", help="Listening port to handle requests.", type=int, default=8888)
    parser.add_argument("--config", help="Location of config file.", type=str, default="config.json")
    parser.add_argument("--log_config", help="Log configuration file.", type=str, default="logging.conf")
    args = parser.parse_args(args=None)

    cfg = load_config()

    SESSION_TYPE = 'filesystem'
    SESSION_COOKIE_NAME = 'CGISESSID'
    SESSION_FILE_DIR = cfg['sessions']
    SESSION_COOKIE_PATH = cfg['cookiePath']
    SESSION_COOKIE_SECURE = True

    app = BaseApp(__name__, cfg)
    app.run(host='0.0.0.0', port=args.port, debug=False, threaded=True)

