from flask import render_template, session
from server.base import BaseApi, BaseApp
import json
import logging
import logging.config


if __name__ == '__main__':
    import argparse
    parser = argparse.ArgumentParser(description="Launch the Server.",
                                     formatter_class=argparse.ArgumentDefaultsHelpFormatter)
    parser.add_argument("--port", help="Listening port to handle requests.", type=int, default=8888)
    parser.add_argument("--config", help="Location of config file.", type=str, default="config.json")
    parser.add_argument("--log_config", help="Log configuration file.", type=str, default="logging.conf")
    args = parser.parse_args(args=None)

    with open(args.config, encoding='utf-8') as f:
        cfg = json.load(f)

    
    class Api(BaseApi):

        def __init__(self, cfg, logger):
            BaseApi.__init__(self, cfg, logger)

        # To override an existing behavior defined in BaseApi.
        # def version(self):
        #     return "My special version X.Y"


    class App(BaseApp):

        def __init__(self, import_name, api):
            BaseApp.__init__(self, import_name, api)

            # To add a new route:
            # @self.route('/{}/test'.format(self.cfg['web_context']))
            # def test():
            #     return "test: new view"

        # To override an existing behavior defined in BaseApp.
        # You should try to override methods at the api level first.
        # But it's also possible to do it at the app level.
        # def version(self):
        #     version = "X.Y"
        #     return render_template('my_version.html', version=version)

        # To customize an existing template, it's possible to add a template file
        # without the 'default_' prefix.


    logging.config.fileConfig(args.log_config)
    logger = logging.getLogger('default')
    api = Api(cfg, logger)
    app = App(__name__, api)
    logger.info("Starting server on port {0}...".format(args.port))
    app.run(host='0.0.0.0', port=args.port, debug=False, threaded=True)
